{% extends 'workoutlog/base.html' %}

{% block title %}{% if form.instance.pk %}Edit{% else %}New{% endif %} Workout Session{% endblock %}

{% block content %}
    <h1>{% if form.instance.pk %}Edit{% else %}New{% endif %} Workout Session</h1>

    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.errors }}
        <table class="table">
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-success mt-2">Save</button>
        <a href="{% url 'workoutlog:view_workout_sessions' %}" class="btn btn-secondary mt-2">Back to sessions</a>
    </form>
{% endblock %}
